body {
    width: 100%;
    font-family: 'Lato', sans-serif; 

}

/*menu e cabeçalho*/

header {
    background-color: rgb(212, 211, 211);
    margin-top: -10px;
    margin-left: -10px;
    margin-right: 10px;
    margin-bottom: 15px;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.title {
    font-size: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight:bolder;
    
}

.icon {
    width: 50px;
}

.menuicon {
    width: 50px;
}

.menuaberto {
    display: none;
}

.menu:hover .menuaberto {
    display: block;
    background-color: black;
    color: white;
    position: fixed;
    height: 100%;
    top: 0;
    padding-right: 50px;
    font-size: 23px;
    margin-left: -250;
    width: 270;
    padding-top: 60px;
}

.menu:hover .menuaberto .menuoptions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    line-height: 50px;
}

.opt1:hover {
    background-color: gray;
    color: black;
}

.opt2:hover {
    background-color: gray;
    color: black;
}

/*form*/

.container-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    padding: 10px;
    margin: auto;
}

label {
    

}

form div {
    font-size: 20px;
    margin: 5px;
    width: -webkit-fill-available;
}


input, select {
    color: gray;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #979797;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px;
}


.button {
    color: white;
    background-color: rgb(66, 66, 66);
    border: transparent;
    margin-top: 15px;
}

hr {
    background-color: black;
    height: 1px;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 10;
} 

/*extracto*/

h2 {
    font-size: 24px;
    text-align: center;
}

.extrato {
    font-size: 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    
}

.tabela {
    font-size: 20px;
    
}




.tr3 {
    display: flex;
    flex-direction: row-reverse;
}

footer {
    background-color: black;
    height: 20px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
}


