body {
    width: 100%;
    font-family: 'Lato', sans-serif; 

}

/*menu e cabeçalho*/

header {
    background-color: rgb(212, 211, 211);
    margin-top: -10px;
    margin-left: -10px;
    margin-right: 10px;
    margin-bottom: 15px;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.title {
    font-size: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight:bolder;
    
}

.icon {
    width: 50px;
}


/* menu*/

.menuicon {
    width: 50px;
}

.menuaberto {
    display: none;
}

.menu:hover .menuaberto {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: rgb(66, 66, 66);
    color: white;
    top: 0;
    right: 0;
    width: 66vw;
    height: 100%;
}

.menuaberto div {
    width: 100%;
    padding: 20px;
}

.menuaberto div:hover {
    background-color: white;
    color: rgb(66, 66, 66);
}


/*form*/

.container-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    padding: 10px;
    margin: auto;
}

label {
    

}

form div {
    font-size: 20px;
    margin: 5px;
    width: -webkit-fill-available;
}


input, select {
    color: gray;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #979797;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px;
}


.button {
    color: white;
    background-color: rgb(66, 66, 66);
    border: transparent;
    margin-top: 15px;
}

hr {
    background-color: black;
    height: 1px;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10;
} 

/*extracto*/

h2 {
    font-size: 24px;
    text-align: center;
}

.extrato {
    font-size: 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    
}

.tabela {
    font-size: 20px;
    
}




.tr3 {
    display: flex;
    flex-direction: row-reverse;
}

footer {
    background-color: black;
    height: 20px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
}


@media only screen and (min-width: 768px) {
    .corpo {
        
    }
    
    .tabletform {
        display: flex;
        flex-direction: row;
        
    }
    
    .tabletform div {
        display: flex;
        flex-direction: column;
    }
    
    
    
    
    form {
        border: 1px solid black;
        border-radius: 4px;
        padding: 10px;
    }
    
    form div {
        display: contents;
    }

    .button {
        width: 33vw;
        padding: 10px;
    }
    
    .tabletbutton {
        display: flex;
        place-content: flex-end
    }

    hr {
        display: none;
    }


    .th1 {
        display: flex;
    }
    
    
    .campoform {
        width: 600;
        align-items: center;
    }
    .campoform2 {
        align-items: center;
    }

    .menu:hover .menuaberto {
        width: 33vw;
    }
    
}

@media only screen and (min-width: 1112px) {
    
    /* menu */
    
    .menuicon {
        display: none;
    }
    
    .menuaberto {
        display: flex;
        flex-direction: row;
        background-color: #FFFFFF;
    }
    
    .menu .menuaberto {
        pointer-events: none
        
    }
    
    
    .menuaberto div {
        pointer-events: none
        
    }
    
    .opt1, .opt2 {
        text-align: center;
        display: flex;
        align-items: center;
        font-size: 18px;
    }
    
    
    /*form*/
    
    .container-form {
        display: flex;
        flex-direction: column;
        width: auto;
        justify-content: center;
        padding: 10px;
        margin: inherit;
    }

    label {
        
        
    }
    
    form div {
        font-size: 20px;
        margin: 5px;
        width: -webkit-fill-available;
    }
    
    
    input, select {
        color: gray;
        font-size: 20px;
        justify-content: center;
        align-items: center;
        width: 100%;
        background: #FFFFFF;
        border: 1px solid #979797;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 10px;
    }


    .button {
        color: white;
        background-color: rgb(66, 66, 66);
        border: transparent;
        margin-top: 15px;
    }

    hr {
        background-color: black;
        height: 1px;
        width: 100%;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: 10;
    } 

    .formcampos {
        display: flex;
        flex-direction: column;
        
    }

    /*extracto*/

    h2 {
        font-size: 24px;
        text-align: center;
    }

    .extrato {
        font-size: 20px;
        justify-content: flex-start;
        display: flex;
        flex-direction: column;
        
    }

    .tabela {
        font-size: 20px;
        
    }

    .corpo {
        display: flex;
        flex-direction: row;
        justify-content: space-around
    }

    form {
        width: 400px;
    }

    .extrato {
        width: 652px;
    }
}

@media only screen and (min-width: 1500px) {

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .corpo {
        width: 70%;
        padding-left: 15%;
    }

}